<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <ROOT>
        <type>array</type>
        <el>
            <settings.baseUrl>
                <TCEforms>
                    <label>LLL:EXT:proxy/Resources/Private/Language/locallang.xlf:baseUrl</label>
                    <config>
                        <type>input</type>
                    </config>
                </TCEforms>
            </settings.baseUrl>
            <settings.startUrl>
                <TCEforms>
                    <label>LLL:EXT:proxy/Resources/Private/Language/locallang.xlf:url</label>
                    <config>
                        <type>input</type>
                    </config>
                </TCEforms>
            </settings.startUrl>
            <settings.pageTitleSuffix>
                <TCEforms>
                    <label>Page title suffix</label>
                    <config>
                        <type>input</type>
                    </config>
                </TCEforms>
            </settings.pageTitleSuffix>
            <settings.js.whitelist>
                <TCEforms>
                    <label>JavaScript whitelist</label>
                    <config>
                        <type>text</type>
                    </config>
                </TCEforms>
            </settings.js.whitelist>
            <settings.css.whitelist>
                <TCEforms>
                    <label>CSS whitelist</label>
                    <config>
                        <type>text</type>
                    </config>
                </TCEforms>
            </settings.css.whitelist>
            <settings.meta.whitelist>
                <TCEforms>
                    <label>Meta whitelist</label>
                    <config>
                        <type>text</type>
                    </config>
                </TCEforms>
            </settings.meta.whitelist>
            <settings.cacheTtl>
                <TCEforms>
                    <label>Cache TTL (seconds, 0 = no cache)</label>
                    <config>
                        <type>input</type>
                        <eval>int</eval>
                        <default>0</default>
                    </config>
                </TCEforms>
            </settings.cacheTtl>
            <settings.ipResolve>
                <TCEforms>
                    <label>IP resolve (force IPv4/IPv6 for outbound request)</label>
                    <config>
                        <type>select</type>
                        <renderType>selectSingle</renderType>
                        <items>
                            <numIndex index="0">
                                <numIndex index="0">Auto (default)</numIndex>
                                <numIndex index="1"></numIndex>
                            </numIndex>
                            <numIndex index="1">
                                <numIndex index="0">Force IPv4</numIndex>
                                <numIndex index="1">v4</numIndex>
                            </numIndex>
                            <numIndex index="2">
                                <numIndex index="0">Force IPv6</numIndex>
                                <numIndex index="1">v6</numIndex>
                            </numIndex>
                        </items>
                        <default></default>
                    </config>
                </TCEforms>
            </settings.ipResolve>
            <settings.plugins>
                <TCEforms>
                    <label>Plugins</label>
                    <config>
                        <type>select</type>
                        <renderType>selectMultipleSideBySide</renderType>
                        <itemsProcFunc>WapplerSystems\Proxy\Backend\Form\PluginsRegistry->getPluginsList</itemsProcFunc>
                    </config>
                </TCEforms>
            </settings.plugins>
        </el>
    </ROOT>
</T3DataStructure>
