<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <ROOT>
        <type>array</type>
        <el>
            <settings.baseUrl>
                <label>LLL:EXT:proxy/Resources/Private/Language/locallang.xlf:baseUrl</label>
                <config>
                    <type>input</type>
                </config>
            </settings.baseUrl>
            <settings.startUrl>
                <label>LLL:EXT:proxy/Resources/Private/Language/locallang.xlf:url</label>
                <config>
                    <type>input</type>
                </config>
            </settings.startUrl>
            <settings.pageTitleSuffix>
                <label>Page title suffix</label>
                <config>
                    <type>input</type>
                </config>
            </settings.pageTitleSuffix>
            <settings.js.whitelist>
                <label>JavaScript whitelist</label>
                <config>
                    <type>text</type>
                </config>
            </settings.js.whitelist>
            <settings.css.whitelist>
                <label>CSS whitelist</label>
                <config>
                    <type>text</type>
                </config>
            </settings.css.whitelist>
            <settings.meta.whitelist>
                <label>Meta whitelist</label>
                <config>
                    <type>text</type>
                </config>
            </settings.meta.whitelist>
            <settings.cacheTtl>
                <label>Cache TTL (seconds, 0 = no cache)</label>
                <config>
                    <type>number</type>
                    <default>0</default>
                </config>
            </settings.cacheTtl>
            <settings.plugins>
                <label>Plugins</label>
                <config>
                    <type>select</type>
                    <renderType>selectMultipleSideBySide</renderType>
                    <itemsProcFunc>WapplerSystems\Proxy\Backend\Form\PluginsRegistry->getPluginsList</itemsProcFunc>
                </config>
            </settings.plugins>
        </el>
    </ROOT>
</T3DataStructure>
